/* style.css */

/* Reset and general styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
}
#projecticon{
    height: 200px;
    width: 200px;
 }

/* Header styles */
.navbar {
    background-color: #3498db;
    color: #fff;
    /* padding: 10px 0; */
    /* position: fixed; */
    width: 100%;
    height: 100px;
    top: 0;
    /* z-index: 1000; */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

#linkedin{
    padding: 0px;
    margin: 0px;
}
.logo {
    font-size: 1.5em;
    font-weight: bold;
    margin-right: 150px;
}

.social-icons {
    align-items: center;
}

.menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #f39c12;
}

/* Mobile styles */
@media only screen and (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        background-color: #3498db;
        top: 60px;
        left: 0;
        padding: 10px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }

    .nav-links.show {
        display: flex;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .menu-icon {
        display: flex;
    }
    .logo {
        font-size: 1.5em;
        font-weight: bold;
        margin-right: 70px;
    }
    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 100px 300px;
        gap: 100px;
 
    }
    #projecticon{
       height: 100px;
       width: 100px;
    }
}

/* Hero section styles */
.hero {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 80px 0;
}

.hero h1 {
    font-size: 2.5em;
    margin: 0;
}

/* Section styles */
.section {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    padding: 40px 0;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section h2 {
    color: #3498db;
}

/* About section styles */
.message-box {
    background-color: #f9f9f9;
    border: 2px solid #e0e0e0;
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
    margin-left: 20px;
}

.message-box p {
    margin: 0;
}

/* Skills section styles */
ul {
    list-style: none;
    padding: 0;
    margin-left: 0;
}

ul li {
    display: inline-block;
    margin-right: 20px;
}

ul li a {
    display: block;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

ul li a:hover {
    background-color: #2980b9;
}

/* Project section styles */
.project {
    display: flex;
    margin-bottom: 30px;
}

.project img {
    max-width: 100%;
    max-height: 200px;
    border-radius: 8px;
    margin-right: 20px;
    transition: transform 0.3s ease;
}

.project:hover img {
    transform: scale(1.1);
}

.project-info {
    flex-grow: 1;
}

.project-info h3 {
    margin-top: 0;
}

.project-info a {
    display: inline-block;
    background-color: #3498db;
    color: #fff;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.project-info a:hover {
    background-color: #2980b9;
}
.forms{
    display: grid;
    grid-template-rows: auto ;
}
label,input,textarea,button{
    margin: 5px;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
}

/* Contact section styles */
footer {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
